<div id="about" style="font-family: 'Montserrat', sans-serif !important; text-align: center;">


  <div class= "w3-top">
    <div class="navbar">


      <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#sobre">I GALA ANJAP</a>
        <a href="#gala">PRÉMIOS ANJAP 2018</a>
        <a href="#parceiros">PATROCINADORES</a>
        <a href="#contactos">CONTACTOS</a>
      </div>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script>
        $(document).ready(function(){
  // Add smooth scrolling to all links
  $("a").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
});
</script>

<div style="text-align: center !important">
  <%= image_tag "logo1.png", :style => "height: 120px;" %>
</div>

<div>
  <h1 style= "font-size: 27px; padding-right: 70px">O FUTURO DA ADVOCACIA</h1>
</div>


<div id="main">
  <span style="font-size:40px;cursor:pointer; color: rgb(202, 144, 0)" onclick="openNav()">&#9776;</span>
</div>

<script>
  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
  }

  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
  }
</script>


</div>
</div>

<div>

 <p style="text-align:center; padding-top: 150px; font-size: 30px;" id="demo"></p>

 <script>
// Set the date we're counting down to
var countDownDate = new Date("Sep 21, 2018 20:00:00").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

    // Get todays date and time
    var now = new Date().getTime();

    // Find the distance between now an the count down date
    var distance = countDownDate - now;

    // Time calculations for days, hours, minutes and seconds
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

    // Output the result in an element with id="demo"
    document.getElementById("demo").innerHTML = days + "d " + hours + "h "
    + minutes + "m " + seconds + "s ";

    // If the count down is over, write some text
    if (distance < 0) {
      clearInterval(x);
      document.getElementById("demo").innerHTML = "EXPIRED";
    }
  }, 1000);
</script>

</div>


<h1 id="sobre" class="porque" style="font-size: 30px; padding-top: 100px"> I GALA ANJAP</h1>



<div class="card-about"; style="height: auto; text-align: justify">

  <p style="color: white; font-size: 20px; width: 100%; text-align: justify !important; padding-top: 100px;  padding-right: 50px; padding-left: 50px;">A Associação Nacional dos Jovens Advogados Portugueses é a maior e mais antiga associação dos advogados portugueses com menos de 15 anos de profissão.<br>
A I Gala ANJAP, que se irá realizar pela primeira vez este ano, tem como objetivos o fomento e o diálogo geracional entre advogados e também a missão solidária.<br>
Sob o mote “O Futuro da Advocacia em Portugal”, a I Gala ANJAP conta já com o alto patrocínio de Sua Excelência o Presidente da República.<br>
Os proveitos da I Gala ANJAP reverterão para a Associação Portuguesa de Apoio à Vítima (APAV).<br></p>
<p style="color: white; font-size: 20px; padding-bottom: 100px; padding-left: 50px">Local: Pavilhão Carlos Lopes, Lisboa<br>
Data: 21 de setembro de 2018</p>



</div>


<h1 id="gala" class="porque" style="font-size: 30px; padding-top: 100px"> PRÉMIOS ANJAP 2018</h1>



<div class="card-about"; style="height: auto; text-align: justify; background-color: rgb(102, 16, 31);">

  <p style="color: white; font-size: 20px; width: 100%; padding-top: 100px; padding-right: 50px; padding-left: 50px;">Durante o jantar, haverá uma cerimónia de entrega de prémios que pretende assinalar de forma especial aqueles que mais se evidenciaram, pelas suas qualidades pessoais e profissionais, no mundo da Advocacia, da Jovem Advocacia e da Solidariedade Social.<br>
    <div style="color: white; font-size: 20px; padding-bottom: 100px; padding-left: 50px;">
<p><i class="fas fa-gavel"></i>Prémio Carreira<br>
<i class="fas fa-gavel"></i>Prémio Jovem Advogado<br>
<i class="fas fa-gavel"></i>Prémio Solidariedade Social</p>
  </div>


</div>





<!-- <div class="card-c" style="text-align: center; padding: margin-left: -15; margin-right: -15;" >

  <h1 id= "cartaz" class="porque" style="padding: 50px; font-size: 30px">CARTAZ</h1>

  <%= image_tag "cartaz1.jpg", :class => "cartaz" %>


</div> -->


<div style="text-align: center; padding-top: 100px">

  <h1 id= "parceiros" style="font-size: 30px;">PATROCINADORES</h1>
</div>

<div style="text-align: center; padding-top: 30px;">
  <%= image_tag "logo-lx.jpg", :style => "height: 100px;" %>
</div>
<div style="text-align: center;">
  <h1 id="contactos" style="padding-top: 100px; padding-bottom: 10px; font-size: 30px">CONTACTOS</h1>
  <div>

      <div style="display: inline-block;"><a href="mailto: gala@anjap.pt" target="_top"><i class="far fa-envelope" style="color:rgb(234, 214, 168); font-size: 40px; padding-top: 40px;"></i></a>
        <p>gala@anjap.pt</p></div>

      </div>


      <iframe class= "map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3112.515991514912!2d-9.153620284499755!3d38.72891997959688!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1933719955615f%3A0x34baf6866f87e92f!2sPavilh%C3%A3o+Carlos+Lopes!5e0!3m2!1spt-PT!2spt!4v1527844972640" width="60%" height="500" frameborder="0" style="border:0; padding-top: 50px;" allowfullscreen></iframe>

    </div>


  </div>

  <div>

    <body id="top">

      <a href="#top" onclick="scrollToTop();return false"><i class="fas fa-arrow-circle-up" style="font-size: 50px; color: rgb(234, 214, 168);"></i></a>

      <script>

        var timeOut;
        function scrollToTop() {
          if (document.body.scrollTop!=0 || document.documentElement.scrollTop!=0){
            window.scrollBy(0,-50);
            timeOut=setTimeout('scrollToTop()',10);
          }
          else clearTimeout(timeOut);
        }
      </script>

    </div>



















  </div>



